.contact-card {
    display: flex;
    padding: 10px;
    color: #ffffff;
    background-color: rgb(42, 84, 104);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 10px 10px 25px -16px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    max-width: 500px;
    max-height: 125px;
    margin-bottom: 10px;
  }
  
  .contact-card p {
    margin-left: 10px;
    margin-top: 0;
  }
  
  button {
    margin-left: 10px;
    margin-bottom: 10px;
  }

  html,
  body {
    background: linear-gradient(to bottom right, #404040, #4d4d4d);
  }

  .login-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  .login-button {
    background-color: #4ddbff;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  .login-button:hover {
    opacity: 0.8;
  }

  .loginForm {
    display : flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
    color : #00a3cc;
    font-family: sans-serif;
    height: 69vh;
  }

  .recipe-card{
    display: flex;
    flex-grow: 1;
    background: linear-gradient(to bottom right, #333333, #262626);
    max-width: 800px;
    max-height: 300px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .recipeList {
   width: 100%;
   font-family: sans-serif;
  }

  .recipe-button {
    background-color: #4ddbff;
    color: black;
    padding-top: 14px;
    padding-bottom: 14px;
    border: none;
    cursor: pointer;
    width: 120px;
    padding-right: 5px;
    padding-left: 5px;
    
  }

  .recipe-button:hover {
    opacity: 0.8;
  }

  .recipe-button-center {
    display: flex;
    flex-grow: 1;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
  }



